.stats-cards {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0px 0px 24px 0px;
    gap: 32px;
    display: none;
}

.stat-card {
    height: 200px;
    width: 280x;
    flex: 1;
    border-radius: 12px;
    box-shadow: 0px 4px 10px 1px rgba(0, 8, 0, 0.032);
    padding: 24px 32px;
}

.stat-label {
    font: var(--title-14);
}