/* --- FONT IMPORTS --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:wght@600&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* --- CSS VARIABLES (Site-wide) --- */
:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-source-sans: 'Source Sans 3', sans-serif;
    --font-inter: 'Inter', sans-serif;

    --primary-color: #007e5d;
    --primary-variant-color: #6db581;
    --secondary-color: #f8c828;
    --gray-color: #FDFDFD;
    --black-color: #032517;

    --title-24: 600 24px var(--font-inter);
    --title-20: 600 20px var(--font-inter);
    --title-16: 600 16px var(--font-inter);
    --title-14: 600 14px var(--font-inter);
    --title-12: 600 12px var(--font-inter);

    --box-shadow-color: 0px 4px 10px 1px rgba(0, 8, 0, 0.07 );
}

/* --- GLOBAL RESET --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- DEFAULT BODY STYLES --- */
body {
    font-family: var(--font-source-sans);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--gray-color);
}